<!DOCTYPE html>
<html>
 
<head>
    <meta charset="utf-8" />
    <title>Customer表</title>
</head>
 
<body>
    <p>{{ message }}</p>
    <table border="1">
        <input type="button" onclick="location.href='http://127.0.0.1:8000/'" value="TOP画面">
        <tr>
            <th>name</th>
            <th>age</th>
            <th>gender</th>
            <th>mail-address</th>
            <th>address</th>
            <th>carry-address</th>
            <th>detail</th>
            <th>update</th>
            <th>is_carryed</th>
        </tr>
        {% for print_user in data %}
        <tr>
            <td>{{ print_user.name }}</td>
            <td>{{ print_user.age }}</td>
            <td>{{ print_user.gender }}</td>
            <td>{{ print_user.email }}</td>
            <td>{{ print_user.address }}</td>
            <td>{{ print_user.carry_address }}</td>
            <td><a href="{% url 'customer:detail' print_user.pk %}">詳細</a></td>
            <td><a href="{% url 'customer:update' print_user.pk %}">編集</a></td>
            <td>{{ print_user.is_carryed}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
 
</html>