
{% extends 'certification/base.html' %}

{% load static %}

{% load widget_tweaks %}


{% block title %}利用者登録{% endblock %}

<!-- Header -->
{% block header %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="{% url 'certification:index' %}">Carry Now</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'certification:underwriter' %}">引受人ページ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'certification:facility' %}">施設ページ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'customer:toppage' %}">利用者ページ</a>
                    </li>
                    <!-- ログイン・ログアウト判定 -->
                    {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">ログイン</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">施設登録</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">ログアウト</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>  
{% endblock %}

{% block content%}
<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">利用者登録</h2>
        <hr class="divider" />

        <div class="form-control">
            <!-- <div class="form-content"> -->
            <!-- 下記に利用者登録のコンテンツが入ります -->
            <form id="new-form" method="POST" novalidate>
                {% csrf_token %}
                <!-- 各フィールドの取り出し -->
                <table  class="user-table">
                    <!-- nameフィールド -->
                    <tr>
                        <th class="user-th">{{form.name.label_tag}}</th>
                        <td class="user-td">{{form.name}}{{form.name.errors}}</td>
                    </tr>
                    <!-- ageフィールド -->
                    <tr>
                        <th class="user-th">{{form.age.label_tag}}</th>
                        <td class="user-td">{{form.age}}{{form.age.errors}}</td>
                    </tr>
                    <!-- 性別フィールド -->
                    <tr>
                        <th class="user-th">{{form.gender.label_tag}}</th>
                        <td class="user-td">{{form.gender}}{{form.gender.errors}}</td>
                    </tr>
                    <!-- メールフィールド -->
                    <tr>
                        <th class="user-th">{{form.email.label_tag}}</th>
                        <td class="user-td">{{form.email}}{{form.email.errors}}</td>
                    </tr>
                    <!-- 住所フィールド -->
                    <tr>
                        <th class="user-th">{{form.address.label_tag}}</th>
                        <td class="user-td">{{form.address}}{{form.address.errors}}</td>
                    </tr>
                    <!-- 引受住所フィールド -->
                    <tr>
                        <th class="user-th">{{form.carry_address.label_tag}}</th>
                        <td class="user-td">{{form.carry_address}}{{form.carry_address.errors}}</td>
                    </tr>
                    <!-- 下記が隠しフィールド -->
                    <tr id="hoge">
                        <th class="user-th">{{form.is_carryed.label_tag}}</th>
                        <td class="user-td">{{form.is_carryed}}</td>
                    </tr>
                    <tr id="hoge">
                        <th class="user-th">{{form.facility_id.label_tag}}</th>
                        <td class="user-td">{{form.facility_id}}</td>
                    </tr>
                    <tr id="hoge">
                        <th class="user-th">{{form.map_id.label_tag}}</th>
                        <td class="user-td">{{form.map_id}}</td>
                    </tr>
                </table>
            </form>

            <!-- 利用者登録ボタン -->
            <div id="new-form" class="new_page">
                <button form="new-form" class="btn btn--orange btn--radius" type="submit">登録</button>
                <button class="btn btn--orange btn--radius" type="submit">
                    <a class="text-white" href="{% url 'customer:toppage' %}">戻る</a>
                </button>
            </div>
        </div>
</section>
{% endblock %}


<!-- 下記にjsの処理を記述 -->
<script>
    window.addEventListener('DOMContentLoaded', event => {

// Navbar shrink function
var navbarShrink = function () {
    const navbarCollapsible = document.body.querySelector('#mainNav');
    if (!navbarCollapsible) {
        return;
    }
    if (window.scrollY === 0) {
        navbarCollapsible.classList.remove('navbar-shrink')
    } else {
        navbarCollapsible.classList.add('navbar-shrink')
    }

};

// Shrink the navbar 
navbarShrink();

// Shrink the navbar when page is scrolled
document.addEventListener('scroll', navbarShrink);

// Activate Bootstrap scrollspy on the main nav element
const mainNav = document.body.querySelector('#mainNav');
if (mainNav) {
    new bootstrap.ScrollSpy(document.body, {
        target: '#mainNav',
        offset: 74,
    });
};

// Collapse responsive navbar when toggler is visible
const navbarToggler = document.body.querySelector('.navbar-toggler');
const responsiveNavItems = [].slice.call(
    document.querySelectorAll('#navbarResponsive .nav-link')
);
responsiveNavItems.map(function (responsiveNavItem) {
    responsiveNavItem.addEventListener('click', () => {
        if (window.getComputedStyle(navbarToggler).display !== 'none') {
            navbarToggler.click();
        }
    });
});

// Activate SimpleLightbox plugin for portfolio items
new SimpleLightbox({
    elements: '#portfolio a.portfolio-box'
});

});
</script>




<!-- <!DOCTYPE html>
<html>
 
<head>
    <meta charset="utf-8" />
    <title>フォーム</title>
</head>
 
<body>
    <h1>メンバー登録フォーム</h1>
    <form method="POST" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">送信</button>
    </form>
    <p>{{ message }}</p>
</body>
 
</html> -->