{% extends 'certification/base.html' %}

{% load static %}

{% load widget_tweaks %}


{% block title %}利用者登録{% endblock %}

<!-- Header -->
{% block header %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="{% url 'certification:index' %}">Carry Now</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">引受人ページ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'certification:facility' %}">施設ページ</a>
                    </li>
                    <!-- ログイン・ログアウト判定 -->
                    {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">ログイン</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">施設登録</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">ログアウト</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>  
{% endblock %}

{% block content%}
<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">利用者登録</h2>
        <hr class="divider" />

        <div class="form-content">
                <!-- 下記に利用者登録のコンテンツが入ります -->
                <form method="POST" novalidate>
                    {% csrf_token %}
                    <!-- 各フィールドの取り出し -->
                    {% for field in form %}
                    <div class="form-control">
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                    </div>
                    {% endfor %}

                    <!-- 利用者登録ボタン -->
                    <div class="new_page">
                        <button class="btn btn--orange btn--radius" type="submit">登録</button>
                        <!-- <button class="btn btn--orange btn--radius">
                            <a class="text-white" href="{% url 'customer:toppage' %}">戻る</a>
                        </button> -->
                    </div>
                </form>
        </div>

    </div>
</section>

<!-- <form method="POST" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">登録</button>
</form> -->
<!-- <p>{{ message }}</p>  -->
{% endblock %}


<!-- 下記にjsの処理を記述 -->
<script>
    window.addEventListener('DOMContentLoaded', event => {

// Navbar shrink function
var navbarShrink = function () {
    const navbarCollapsible = document.body.querySelector('#mainNav');
    if (!navbarCollapsible) {
        return;
    }
    if (window.scrollY === 0) {
        navbarCollapsible.classList.remove('navbar-shrink')
    } else {
        navbarCollapsible.classList.add('navbar-shrink')
    }

};

// Shrink the navbar 
navbarShrink();

// Shrink the navbar when page is scrolled
document.addEventListener('scroll', navbarShrink);

// Activate Bootstrap scrollspy on the main nav element
const mainNav = document.body.querySelector('#mainNav');
if (mainNav) {
    new bootstrap.ScrollSpy(document.body, {
        target: '#mainNav',
        offset: 74,
    });
};

// Collapse responsive navbar when toggler is visible
const navbarToggler = document.body.querySelector('.navbar-toggler');
const responsiveNavItems = [].slice.call(
    document.querySelectorAll('#navbarResponsive .nav-link')
);
responsiveNavItems.map(function (responsiveNavItem) {
    responsiveNavItem.addEventListener('click', () => {
        if (window.getComputedStyle(navbarToggler).display !== 'none') {
            navbarToggler.click();
        }
    });
});

// Activate SimpleLightbox plugin for portfolio items
new SimpleLightbox({
    elements: '#portfolio a.portfolio-box'
});

});
</script>




<!-- <!DOCTYPE html>
<html>
 
<head>
    <meta charset="utf-8" />
    <title>フォーム</title>
</head>
 
<body>
    <h1>メンバー登録フォーム</h1>

    <form method="POST" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">送信</button>
    </form>
    <p>{{ message }}</p>
</body>
 
</html> -->