<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button type="submit" href="http://127.0.0.1:8000/" >TOP</button>
    <button type="submit" href="http://127.0.0.1:8000/admin" >admin画面</button>
    <button type="submit" href="http://127.0.0.1:8000/new" >ユーザー新規作成</button>
    <button type="submit" href="http://127.0.0.1:8000/list" >ユーザーリスト</button>
</body>
</html>