{% extends 'qrfunction/base.html' %}

{% block content %}

    <h1>送迎完了登録ページ</h1>
        {% for d in data %}
            ようこそ、{{d.name}}さん<br>
            <form method="POST" action="{% url 'qrfunction:registration' %}">
                {% csrf_token %}
                <input type="hidden" name="name" value="{{d.name}}">
                <input type="hidden" name="password" value="{{d.email}}">
                <button type="submit">完了登録</button>
            </form>
        {% endfor%}
{% endblock %}