<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>パスワード変更画面</title>
</head>
<body>
    <h1>パスワードを任意のパスワードに変更してください。</h1>
    <p>※最初の一度のみです。</p>
    <form method="POST" action="{% url 'qrfunction:index' %}">
        {% csrf_token %}
        パスワード : <input type="text" name="password"><br>
        確認      : <input type="text" name="try_pass"><br>
        <button type="submit">検索</button>
    </form>
</body>
</html>