{% extends 'certification/base.html' %}

{% load static %}

{% block title %}送迎受け取り認証ページ{% endblock %}

<!-- Header -->
{% block header %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="{% url 'certification:index' %}">Carry Now</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">引受人ページ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'certification:facility' %}">施設ページ</a>
                    </li>
                    <!-- ログイン・ログアウト判定 -->
                    {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">ログイン</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">施設登録</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">ログアウト</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>  
{% endblock %}

{% block content%}
<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">送迎認証</h2>
        <hr class="divider" />
            <!-- 下記に送迎受け取り認証ページのコンテンツが入ります -->
            <div class="form-content">
                {{error}}
                <!-- 下記にフォームが入ります -->
                <form method="POST" action="{% url 'qrfunction:index' %}" novalidate>
                    {% csrf_token %}
                    <div class="search-form container px-4 px-lg-5">
                        <table>
                            <tr>
                                <th><label>名前</label></th>
                                <td><input type="text" name="name"></td>
                            </tr>
                            <tr>
                                <th><label>メール</label></th>
                                <td><input type="text" name="email"></td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
            <!-- 検索・施設ページに戻るボタン -->
            <div id="search-form" class="new_page">
                <button form="search-form" class="btn btn--orange btn--radius" type="submit">検索</button>
                <button class="btn btn--orange btn--radius" type="submit">
                    <a class="text-white" href="{% url 'certification:facility' %}">戻る</a>
                </button>
            </div>

    </div>
</section>


<!-- <form method="POST" action="{% url 'qrfunction:index' %}">
    {% csrf_token %}
    名前 : <input type="text" name="name"><br>
    メールアドレス : <input type="text" name="email"><br>
    <button type="submit">検索</button>
</form> -->

<!-- <input type="button" onclick="location.href='http://127.0.0.1:8000/'" value="TOP画面"> -->
<!-- <input type="button" onclick="location.href='http://127.0.0.1:8000/facility'" value="サービス一覧"> -->


<!-- 下記にjsの処理を記述 -->
<script>
    window.addEventListener('DOMContentLoaded', event => {

// Navbar shrink function
var navbarShrink = function () {
    const navbarCollapsible = document.body.querySelector('#mainNav');
    if (!navbarCollapsible) {
        return;
    }
    if (window.scrollY === 0) {
        navbarCollapsible.classList.remove('navbar-shrink')
    } else {
        navbarCollapsible.classList.add('navbar-shrink')
    }

};

// Shrink the navbar 
navbarShrink();

// Shrink the navbar when page is scrolled
document.addEventListener('scroll', navbarShrink);

// Activate Bootstrap scrollspy on the main nav element
const mainNav = document.body.querySelector('#mainNav');
if (mainNav) {
    new bootstrap.ScrollSpy(document.body, {
        target: '#mainNav',
        offset: 74,
    });
};

// Collapse responsive navbar when toggler is visible
const navbarToggler = document.body.querySelector('.navbar-toggler');
const responsiveNavItems = [].slice.call(
    document.querySelectorAll('#navbarResponsive .nav-link')
);
responsiveNavItems.map(function (responsiveNavItem) {
    responsiveNavItem.addEventListener('click', () => {
        if (window.getComputedStyle(navbarToggler).display !== 'none') {
            navbarToggler.click();
        }
    });
});

// Activate SimpleLightbox plugin for portfolio items
new SimpleLightbox({
    elements: '#portfolio a.portfolio-box'
});

});
</script>
{% endblock %}