<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <title>利用者</title>
</head>

<body>
    <h1>初回パスワード変更</h1>
    {{error}}
    <div>
        <!-- <br> -->
        <input type="button" onclick="location.href='http://127.0.0.1:8000/'" value="TOP画面">
        <input type="button" onclick="location.href='http://127.0.0.1:8000/facility'" value="サービス一覧">
        <form method="POST" action="{% url 'qrfunction:index' %}">
            {% csrf_token %}
            名前 : <input type="text" name="name"><br>
            メールアドレス : <input type="text" name="password"><br>
            <button type="submit">検索</button>
        </form>
    </div>
</body>
</html>