<!-- 施設登録 -->
{% extends 'certification/base.html' %}

{% load static %}

{% block title %}施設登録ページ{% endblock %}


<!-- Header -->
{% block header %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="{% url 'certification:index' %}">Carry Now</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'certification:underwriter' %}">引受人ページ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'certification:facility' %}">施設ページ</a>
                    </li>
                    <!-- ログイン・ログアウト判定 -->
                    {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">ログイン</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">施設登録</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">ログアウト</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>  
{% endblock %}

{% block content %}
<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">施設登録</h2>
        <hr class="divider" />
  
        <div class="form-control">
            <!-- <div class="form-content"> -->
            <!-- 下記に利用者登録のコンテンツが入ります -->
            <form id="signup-form" method="POST" novalidate>
                {% csrf_token %}
                <!-- 各フィールドの取り出し -->
                <table  class="user-table">
                    <!-- usernameフィールド -->
                    <tr>
                        <th class="user-th">
                            <label for="id_username">施設名</label>
                        </th>
                        <td class="user-td">{{form.username}}{{form.username.errors}}</td>
                    </tr>
                    <!-- emailフィールド -->
                    <tr>
                        <th class="user-th">
                            <label for="id_email">メール</label>
                        </th>
                        <td class="user-td">{{form.email}}{{form.email.errors}}</td>
                    </tr>
                    <!-- addressフィールド -->
                    <tr>
                        <th class="user-th">
                            <label for="id_address">施設住所</label>
                        </th>
                        <td class="user-td">{{form.address}}{{form.address.errors}}</td>
                    </tr>
                    <!-- password1フィールド -->
                    <tr>
                        <th class="user-th">
                            <label for="id_password1">パスワード</label>
                        </th>
                        <td class="user-td">{{form.password1}}{{form.password1.errors}}</td>
                    </tr>
                </table>
            </form>
  
            <!-- 利用者登録ボタン -->
            <div form="signup-form" id="new-form" class="new_page">
                <button form="signup-form" class="btn btn--orange btn--radius" type="submit">施設登録</button>
            </div>
        </div>
  </section>
<!-- <div class="container">
    <div class="sign col-md-6 offset-md-3">
        <div class="card mt-3 mb-3 bg-light">
            <div class="card-header bg-primary text-light">
                <h2>施設登録</h2>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p>
                        <a href="{% url 'login' %}">
                            <button class="btn btn--orange btn--radius" type="submit">施設登録</button>
                        </a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div> -->
{% endblock %}
