<!-- 引受人トップページ -->
<!-- トップ画面 -->

{% extends 'certification/base.html' %}

{% load static %}

{% block title %}引受人トップページ{% endblock %}
<!-- Header -->
{% block header %}
{{msg}}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="{% url 'certification:index' %}">Carry Now</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'certification:facility' %}">施設ページ</a>
                    </li>
                    <!-- ログイン・ログアウト判定 -->
                    {% if not name and not password or name == None%}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'CustomerAccounts:CustomerLogin' %}">ログイン</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'CustomerAccounts:CustomerLogOut' %}">ログアウト</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>  
{% endblock %}
        
<!-- Content -->
{% block content %}
    <!--施設サービス紹介-->
    <section class="page-section" id="services">
        <div class="container px-4 px-lg-5">
            <!-- フラッシュメッセージ -->
            <!-- {% if message %}
            <div id=“message” class=“message”>
                {{message}}
            </div>
            {% endif %}
            <div class=“header-blank”></div> -->

            <h2 class="text-center mt-0">引受人サービス一覧</h2>
            <hr class="divider" />

            <!-- 下記に施設ページのコンテンツが入ります -->
            <section class="content-section" id="portfolio">
                <div class="container px-4 px-lg-5">
                    <div class="row gx-0">
                        <!-- QRコード -->
                        <div class="col-lg-6">
                        {% if not name and not password or name == None%}
                            <a class="portfolio-item" href="{% url 'CustomerAccounts:CustomerLogin' %}">
                        {% else %}
                            <a class="portfolio-item" href="{% url 'CustomerAccounts:CustomerQrcode' %}">
                        {% endif %}
                                <div class="caption">
                                    <div class="caption-content">
                                        <div class="h2">QRコード</div>
                                        <p class="mb-0">送迎引受確認はこちら</p>
                                    </div>
                                </div>
                                <img class="img-facility" src="/static/assets/img/digital-vaccination-record-g55c938560_1920.jpg" alt="..." />
                            </a>
                        </div>
                        <!-- ルート選択 -->
                        <div class="col-lg-6">
                        {% if not name and not password or name == None%}
                            <a class="portfolio-item" href="{% url 'CustomerAccounts:CustomerLogin' %}">
                        {% else %}
                            <a class="portfolio-item" href="{% url 'CustomerAccounts:CustomerQrcode' %}">
                        {% endif %}
                                <div class="caption">
                                    <div class="caption-content">
                                        <div class="h2">マップ</div>
                                        <p class="mb-0">リアルタイムのマッピングを提供します</p>
                                    </div>
                                </div>
                                <img class="img-facility" src="/static/assets/img/travel-gdf9991bab_1920.jpg" alt="..." />
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
{% endblock %}

<!-- Footer-->
{% block footer %}
    <footer class="bg-light py-5">
        <div class="container px-4 px-lg-5">
            <div class="small text-center text-muted">Copyright &copy; 2022 - CarryNow</div>
        </div>
    </footer>
{% endblock %}


        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>




<!-- 下記にjsの処理を記述 -->
<script>
    window.addEventListener('DOMContentLoaded', event => {

// Navbar shrink function
var navbarShrink = function () {
    const navbarCollapsible = document.body.querySelector('#mainNav');
    if (!navbarCollapsible) {
        return;
    }
    if (window.scrollY === 0) {
        navbarCollapsible.classList.remove('navbar-shrink')
    } else {
        navbarCollapsible.classList.add('navbar-shrink')
    }

};

// Shrink the navbar 
navbarShrink();

// Shrink the navbar when page is scrolled
document.addEventListener('scroll', navbarShrink);

// Activate Bootstrap scrollspy on the main nav element
const mainNav = document.body.querySelector('#mainNav');
if (mainNav) {
    new bootstrap.ScrollSpy(document.body, {
        target: '#mainNav',
        offset: 74,
    });
};

// Collapse responsive navbar when toggler is visible
const navbarToggler = document.body.querySelector('.navbar-toggler');
const responsiveNavItems = [].slice.call(
    document.querySelectorAll('#navbarResponsive .nav-link')
);
responsiveNavItems.map(function (responsiveNavItem) {
    responsiveNavItem.addEventListener('click', () => {
        if (window.getComputedStyle(navbarToggler).display !== 'none') {
            navbarToggler.click();
        }
    });
});

// Activate SimpleLightbox plugin for portfolio items
new SimpleLightbox({
    elements: '#portfolio a.portfolio-box'
});

});


// ---------------------------------------------------
// フラッシュメッセージ
"use strict";
setTimeout(() => {
  let flash = document.getElementById("message");
  if (flash != null) {
    flash.classList.add("none");
  }
}, 3.5 * 1000);
</script>
    </body>
</html>