<!--ルート選択画面 -->
<script>
    function goMap(points){
        let url = 'https://www.google.com/maps/dir/' + points;
        location.href = url;
    }
    function test(){
        console.log('hello');
    }
</script>


<!-- Header -->
{% block header %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="{% url 'certification:index' %}">Carry Now</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">引受人ページ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'certification:facility' %}">施設ページ</a>
                    </li>
                    <!-- ログイン・ログアウト判定 -->
                    {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">ログイン</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">施設登録</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">ログアウト</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>  
{% endblock %}

<!-- Content -->
{% block content %}
    <h2>map_list</h2>
    <table border="1">
        <tr>
            <th>ルート名</th>
            <th>ルート</th>
            <th>waypoints</th>
            <th>destination</th>
            <th>url</th>
        </tr>

    {% for map in map_list %}
    
        <tr>
            <td>{{ map.name }}</td>
            <td>{{ map.route }}</td>
            <td>{{ map.waypoints }}</td>
            <td>{{ map.destination }}</td>
            <td><a href="{{ waypoints|add:map.route|add:destination|add:map.destination }}"><button>ナビ開始</button></a></td>
        </tr>
    {% endfor %}

    </table>
    
    <hr>
    <a href="{% url 'map:user_list'%}">ルート新規作成画面へ</a>
{% endblock %}
