{% extends 'certification/base.html' %}

{% load static %}

{% block title %}ルート確認{% endblock %}

<!--ルート選択画面 -->
<script>
    function goMap(points){
        let url = 'https://www.google.com/maps/dir/' + points;
        location.href = url;
    }
    function test(){
        console.log('hello');
    }
</script>


<!-- Header -->
{% block header %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="{% url 'certification:index' %}">Carry Now</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">引受人ページ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'certification:facility' %}">施設ページ</a>
                    </li>
                    <!-- ログイン・ログアウト判定 -->
                    {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">ログイン</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">施設登録</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">ログアウト</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>  
{% endblock %}

<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


<!-- Content -->
{% block content %}
    <section class="page-section">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">ルート確認</h2>
            <hr class="divider">

            <!-- ルート名：送迎ルートが表示されます -->
            <div class="confirm_container">
                <div class="confirm">
                    <p>ルート名　：{{input_name}}</p>
                </div>
                <div class="confirm">
                    <p>送迎ルート：{{pointsString}}</p>
                </div>
            </div>

            <div class="new_page">
                <form action="{% url 'map:map_create' %}" method="POST">
                    {%csrf_token%}
                    <input type="hidden" name="pointsString" value="{{pointsString}}">
                    <input type="hidden" name="input_name" value="{{input_name}}">
                    <input type="hidden" name="waypoints" value="{{waypoints}}">
                    <input type="hidden" name="destination" value="{{destination}}">
                    <input class="btn btn--orange btn--radius" type="submit" value="確定">
                    <input class="btn btn--orange btn--radius" type="submit" value="修正">
                </form>
            </div>
        </div>
    </section>



<!-- 下記にデザイン用のjsの処理を記述 -->
<script>
    window.addEventListener('DOMContentLoaded', event => {

// Navbar shrink function
var navbarShrink = function () {
    const navbarCollapsible = document.body.querySelector('#mainNav');
    if (!navbarCollapsible) {
        return;
    }
    if (window.scrollY === 0) {
        navbarCollapsible.classList.remove('navbar-shrink')
    } else {
        navbarCollapsible.classList.add('navbar-shrink')
    }

};

// Shrink the navbar 
navbarShrink();

// Shrink the navbar when page is scrolled
document.addEventListener('scroll', navbarShrink);

// Activate Bootstrap scrollspy on the main nav element
const mainNav = document.body.querySelector('#mainNav');
if (mainNav) {
    new bootstrap.ScrollSpy(document.body, {
        target: '#mainNav',
        offset: 74,
    });
};

// Collapse responsive navbar when toggler is visible
const navbarToggler = document.body.querySelector('.navbar-toggler');
const responsiveNavItems = [].slice.call(
    document.querySelectorAll('#navbarResponsive .nav-link')
);
responsiveNavItems.map(function (responsiveNavItem) {
    responsiveNavItem.addEventListener('click', () => {
        if (window.getComputedStyle(navbarToggler).display !== 'none') {
            navbarToggler.click();
        }
    });
});

// Activate SimpleLightbox plugin for portfolio items
new SimpleLightbox({
    elements: '#portfolio a.portfolio-box'
});

});
</script>
{% endblock %}