<html>
<head>
    <meta charset="utf-8" />
    <title>ルート確認</title>
</head>
<body>
    <h1>確認ページ</h1>
    <p>ルート名　：{{input_name}}</p>
    <p>送迎ルート：{{pointsString}}</p>

    <form action="{% url 'map:map_create' %}" method="POST">
        {%csrf_token%}
        <input type="hidden" name="pointsString" value="{{pointsString}}">
        <input type="hidden" name="input_name" value="{{input_name}}">
        <input type="hidden" name="waypoints" value="{{waypoints}}">
        <input type="hidden" name="destination" value="{{destination}}">
        <input type="submit" value="ok">
    </form>
</body>
</html>