{% extends 'certification/base.html' %}

{% load static %}

{% block title %}ルート作成{% endblock %}
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


<!-- Header -->
{% block header %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="{% url 'certification:index' %}">Carry Now</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'certification:underwriter' %}">引受人ページ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'certification:facility' %}">施設ページ</a>
                    </li>
                    <!-- ログイン・ログアウト判定 -->
                    {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">ログイン</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">施設登録</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">ログアウト</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>  
{% endblock %}


{% block content %}
<!-- <style>
    li{
        list-style: none;
    }
</style> -->
    <!-- <table border="1">
        <tr>
            <th>名前</th>
            <th>年齢</th>
            <th>性別</th>
            <th>住所</th>
        </tr>
        {% for row in user_list %}
        <tr>
            <td>{{ row.name }}</td>
            <td>{{ row.age }}歳</td>
            <td>{{ row.gender }}</td>
            <td>{{ row.address }}</td>
        </tr>
        {% endfor %}
    </table> -->

    <!-- 下記にルート作成のコンテンツが入ります -->
    <section class="page-section">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">ルート作成</h2>
            <hr class="divider" />

    <!-- ルート名入力ウィンドウ -->
    ルート名：<input type="text" id="input_name"  value="{{input_name}}">
    {% if message %}
        <p style="color: red;">{{message}}</p>
    {% endif %}


    <!-- 名前検索ウィンドウ -->
    <hr>
    <form id="user_search" action="{% url 'map:user_search' %}" method="GET">
        名前検索：<input type="text" id="user_name">
        <button type="submit" class="btn btn--orange btn--radius">検索</button>
    </form>
    <div id="posts" style="margin-top: 5px;"></div>
    <div id="points-list"></div>

    <!-- 経路表示ウィンドウ -->
    <hr>
    <p>経路</p>
    <div id="map_canvas" style="width:80%;height:400px;margin-bottom:10px;"></div>
        <input type="text" id="pointsString"  value="{{pointsString}}">
        <button class="btn btn--orange btn--radius" onclick="submit()">確定</button>
    <div style="height: 50px;"></div>
        </div>
    </section>
{% endblock %}


<!-- 下記にjavaScriptの記述 -->
{% block extrajs %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNMXB2mTXfoOmmJTm1rIqCUgR_FnLjpmU"></script>
    <script>
        //マップの初期化
        var opts = {
            zoom: 17,
            center: {
                lat: 35.863933470604785,
                lng: 139.97187109927114
            },
            gestureHandling: "greedy",
        };
        let map          = new google.maps.Map(document.getElementById("map_canvas"), opts);
        let trafficLayer = new google.maps.TrafficLayer();
        trafficLayer.setMap(map);  // 交通情報をマップに表示
        
        

        let points       = [];
        let waypoints    = [];
        let destination  = [];
        let pointsString = [];
        let infowindowArr   = [];
        let waypointsString = [];
        let facilityAddress = '大原簿記法律専門学校柏校'
        let directionsService  = new google.maps.DirectionsService();
        let directionsRenderer = new google.maps.DirectionsRenderer();
        let postsScreen        = document.getElementById('posts'); // 検索結果の表示エリア
        let inputNameScreen    = document.getElementById('input_name'); // 送迎ルート名の入力エリア
        let pointsStringScreen = document.getElementById('pointsString'); // 送迎ルートの住所の順番表示エリア


        function addPoint(data) {
            if (pointsStringScreen.value != '') {
                points = pointsStringScreen.value.split('|');
            }
            points.push(data);
            pointsStringScreen.value = points.join("|");
            // console.log(pointsStringScreen.value);

            setData(data);
            searchRoute();
            // showList();
        }
        
        // 目的地をリスト形式で表示する処理
        // function showList(){
        //     let content = '<ul>';
        //     for (let point of points) {
        //         console.log(point)
        //         content += `
        //         <li>${point}</li>
        //         <li>↓</li>
        //     `
        //     }
        //     content += '</ul>';
        //     document.getElementById('points-list').innerHTML = content;
        // }

        
        // 確定ボタンを押した時の処理
        function submit() {
            let subArr = [];
            waypointsString = pointsStringScreen.value.split('|');
            destination = waypointsString.pop();
            
            let url = '/map/map_confirm?pointsString=' + pointsStringScreen.value + '&input_name=' + inputNameScreen.value + '&waypoints=' + waypointsString.join('|') + '&destination=' + destination;
            location.href = url;  // リダイレクト
        }
        

        // マップに表示されているルートを削除する処理
        function resetRenderer(){
            if (directionsRenderer){
                directionsRenderer.setMap(null);
            }
        }


        // マップに表示されているInfoWindowを全て削除する処理
        function closeAllInfowindows(){
            if (infowindowArr.length > 0) {
                for (let i = 0; i < infowindowArr.length - 1; i++) {
                    infowindowArr[i].close();
                }
            }
        }


        function setData(data){
            pointsString = points;

            // Directions APIに渡すための経由地点配列
            waypoints = [];
            for (let i = 0; i < pointsString.length - 1; i++) {
                waypoints.push({
                    location: pointsString[i],
                    stopover: true,  // 途中下車(true) or 通過(false)
                });
            }

            // destination = data;
            console.log(pointsString);
            console.log('------------------------------------------------------------')
        }



        function searchRoute(){
            closeAllInfowindows();

            // ルートの出発地・目的地・検索設定を設定
            var start   = facilityAddress;
            var end     = pointsString[pointsString.length - 1];
            var request = {
                origin     : start,     //出発地点の緯度経度
                destination: end,       //到着地点の緯度経度
                waypoints  : waypoints, //経由地点
                travelMode : 'DRIVING', //トラベルモード（車）
                avoidHighways: true,    //高速道路を利用しない
            };

            directionsRenderer.setOptions({
                draggable: true,            //ドラッグしてルートを変更可能にする
                suppressInfoWindows: true,  // マーカーをクリックしてもデフォルトの吹き出しを出さない
            });
            directionsRenderer.setMap(map); // マップと紐付け

            // ルートを表示
            directionsService.route(request, function (result, status) {
                if (status !== 'OK') {

                    alert("取得できませんでした：" + status);
                } else { //ステータスがOKの場合
                    directionsRenderer.setDirections(result); // 取得したルート（結果：result）をセット
                    // console.log(result.routes[0].legs)     // 各2地点間の情報が入っている

                    // 引数が一桁の数の場合、十の位に'0'を表示する処理
                    function putZero(num) {
                        if (num < 10) {
                            num = '0' + num;
                        }
                        return num;
                    }

                    // 各2地点間の情報を変数に格納
                    let totalDuration = 0 // 所要時間の合計(秒)
                    for (let i = 0; i < result.routes[0].legs.length; i++) {
                        let eachInfo    = result.routes[0].legs[i]; //ルート情報
                        let distance    = eachInfo.distance.text;
                        let duration    = eachInfo.duration.value;  // 所要時間(秒)
                        let destsLatlng = eachInfo.end_location;
                        // console.log(eachInfo);

                        // 所要時間・到着時間を計算
                        totalDuration  += duration;    // 所要時間の合計(秒)
                        totalDurMinutes = Math.round(totalDuration / 60);
                        let arriveAt    = new Date();  // 現在時刻
                        arriveAt.setMinutes(arriveAt.getMinutes() + totalDurMinutes);
                        arriveAt = putZero(arriveAt.getHours()) + ':' + putZero(arriveAt.getMinutes());
                        // console.log(arriveAt);

                        let content = `所要時間：${totalDurMinutes}分`

                        //情報ウィンドウの設定
                        infowindowArr[infowindowArr.length] = new google.maps.InfoWindow({
                            content  : content,
                            position : destsLatlng,
                            pixelOffset: new google.maps.Size(0, -40), //第1引数->正の値で右方向、負の値で左方向。第2引数->正の値で下方向、負の値で上方向
                        });
                        infowindowArr[infowindowArr.length - 1].open(map);
                    }
                }
            });
        }
        
        
        // 名前検索時の処理
        $('#user_search').on('submit', e => {
            e.preventDefault(); // submitタグに設定されたデフォルトの動作を削除
            
            $.ajax({            // 非同期通信の設定
                'url': '{% url "map:user_search" %}',
                'type': 'GET',
                'data': {
                    'user': $('#user_name').val(),
                },
                'dataType': 'json'
            }).done(response => {
                $('#posts').empty();                   // 検索結果の表示エリアを空白にする

                if (response.name_list.length == 0) {  // 検索条件に一致するレコードがない場合
                    postsScreen.innerHTML = '<p style="color:red">※一致する結果がありません</p>';  // エラーメッセージを返す
                } else {
                    let content = `
                    <table border="1" id="posts">
                        <tr>
                            <td>氏名</td>
                            <td>年齢</td>
                            <td>性別</td>
                            <td>住所</td>
                            <td>送迎先住所</td>
                            <td>追加ボタン</td>
                        </tr>
                    `;

                    for (const record of response.name_list) {
                        let name     = record[0];
                        let age      = record[1]; 
                        let gender   = record[2];
                        let address  = record[3];
                        let carry_address = record[4]; // 送迎先住所
                        content += `
                            <tr>
                                <td>${name}</td>
                                <td>${age}歳</td>
                                <td>${gender}</td>
                                <td>${address}</td>
                                <td>${carry_address}</td>
                                <td><button class="btn btn--orange btn--radius" onclick='addPoint("${carry_address}");'>追加</button></td>
                            </tr>
                        `;
                    }
                    content += '</table>';
                    postsScreen.innerHTML = content;
                }
            });
        });





        // }
    </script>

<!-- 下記にデザイン用のjsの処理を記述 -->
<script>
    window.addEventListener('DOMContentLoaded', event => {

// Navbar shrink function
var navbarShrink = function () {
    const navbarCollapsible = document.body.querySelector('#mainNav');
    if (!navbarCollapsible) {
        return;
    }
    if (window.scrollY === 0) {
        navbarCollapsible.classList.remove('navbar-shrink')
    } else {
        navbarCollapsible.classList.add('navbar-shrink')
    }

};

// Shrink the navbar 
navbarShrink();

// Shrink the navbar when page is scrolled
document.addEventListener('scroll', navbarShrink);

// Activate Bootstrap scrollspy on the main nav element
const mainNav = document.body.querySelector('#mainNav');
if (mainNav) {
    new bootstrap.ScrollSpy(document.body, {
        target: '#mainNav',
        offset: 74,
    });
};

// Collapse responsive navbar when toggler is visible
const navbarToggler = document.body.querySelector('.navbar-toggler');
const responsiveNavItems = [].slice.call(
    document.querySelectorAll('#navbarResponsive .nav-link')
);
responsiveNavItems.map(function (responsiveNavItem) {
    responsiveNavItem.addEventListener('click', () => {
        if (window.getComputedStyle(navbarToggler).display !== 'none') {
            navbarToggler.click();
        }
    });
});

// Activate SimpleLightbox plugin for portfolio items
new SimpleLightbox({
    elements: '#portfolio a.portfolio-box'
});

});
        </script>
{% endblock %}
