{% extends 'map/base.html' %}

{% block content %}
    <h2>user_list</h2>
    <table border="1">
        <tr>
            <th>名前</th>
            <th>住所</th>
            <th>所属施設</th>
        </tr>
        {% for user in user_list %}
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.address }}</td>
            <td>{{ user.facility }}</td>
        </tr>
        {% endfor %}
    </table>
    
    <hr>
    
    <h2>名前検索</h2>
    <form id="ajax-search-post" action="{% url 'map:ajax_post_search' %}" method="GET">
        <input type="text" id="id_name">
        <button type="submit" >検索</button>
    </form>

    <div id="posts"></div>
{% endblock %}
    
{% block extrajs %}
    <script>
        function addAddress(data){
            console.log(data);
        }
        let rowGrobal = '';


        // 送信ボタンで呼ばれる
        $('#ajax-search-post').on('submit', e => {
            // デフォルトのイベントをキャンセルし、ページ遷移しないように!
            e.preventDefault();

            $.ajax({
                'url': '{% url "map:ajax_post_search" %}',
                'type': 'GET',
                'data': {
                    'user': $('#id_name').val(),
                },
                'dataType': 'json'
            }).done( response => {
                // 記事欄を真っ白にする。
                $('#posts').empty();

                // タイトルの一覧を順に取り出す
            if(response.error){
                document.getElementById('posts').innerHTML = response.error;
            } else {
                let content = '<table border="1" id="posts">';
                for (const row of response.name_list) {
                    // <p>タイトル</p>を作成し、記事一覧に追加していく。
                    // const p = $('<table>', {text: user_search});
                        // $('#posts').append(p);

                        console.log(row);
                        rowGrobal = row;
                        content += `<tr><td>${row[0]}</td><td>${row[1]}</td><td><button onclick='addAddress(rowGrobal[1])'>追加</button></td></tr>`;
                    }
                    content += '</table>';
                    document.getElementById('posts').innerHTML = content;
            }

                // for (const user_add of response.add_button) {
                //     // <p>タイトル</p>を作成し、記事一覧に追加していく。
                //     const p = $('<button>', {text: user_add});
                //     $('#posts').append(p);
                // }
            });
        });
      
    </script>
{% endblock %}